@model List<ForkFinder.ViewModels.MesaComReservas>

<h2>Reservas</h2>

@if (Model.Count > 0)
{
    foreach (var mesa in Model)
    {
        <h4>Mesa de: @mesa.Mesa.TamanhoMesa lugares</h4>

        if (mesa.Reservas.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Data da Reserva</th>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Situação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reserva in mesa.Reservas)
                    {
                        <tr>
                            <td>@reserva.DataHoraReserva</td>
                            <td>@reserva.Cliente.Nome</td>
                            <td>@reserva.Descricao</td>
                            <td>@(reserva.Situacao ? "Aprovada" : "Pendente")</td>
                            <td>
                                @if (!reserva.Situacao)
                                {
                                    <a href="@Url.Action("AprovarReserva", new { id = reserva.Id })">Aprovar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nenhuma reserva para esta mesa.</p>
        }

        <hr />
    }
}
else
{
    <p>Nenhuma reserva encontrada.</p>
}


@if (ViewBag.ReservaAprovada != null && ViewBag.ReservaAprovada)
{
    <script>
        window.onload = function () {
            alert('Reserva aprovada com sucesso!');
        };
    </script>
}
