@model fork_finder.Models.Especialidade

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Especialidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEspecialidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEspecialidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUpload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUpload)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EspecialidadeId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
