@model fork_finder.Models.Especialidade

@{
    ViewData["Title"] = "Tipo";
}

<div>
    <h4>Restaurante por Especialidade</h4>
    <a class="btn btn-warning" asp-controller="Restaurantes" asp-action="Index">Voltar</a>
    <hr />
    <div>
        @if (User.IsInRole("Admin, Restaurante")){
            <a class="btn btn-primary align-items-end" asp-action="Edit" asp-route-id="@Model.EspecialidadeId">Editar</a>
        }
    </div>
<div class="container">
        <div class="row align-items-center justify-content-start">
        
            @foreach (var item in Model.Restaurantes)
            {
                <div class="col-4">
                    <a asp-controller="Restaurantes" asp-action="Details" asp-route-id="@item.RestauranteId">
                    <div class="row align-items-center justify-content-start border">
                        <div class="col-4">

                           <img src="@Html.DisplayFor(modelItem => item.FotoPerfil)">

                        </div>                   

                        <div class="col-8 my-0">
                            <div class="row">
                                <div class="col-12">
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </div>
                                <div>
                                    <i class="bi bi-star-fill text-warning">@Html.DisplayFor(modelItem => item.ClienteAvaliacoes)</i>
                                    @Html.DisplayFor(modelItem => item.Especialidade.NomeEspecialidade)
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Endereco)
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            }
        </div>
</div>
</div>