@model Restaurante

@{
    ViewData["Title"] = "Página Restaurante";
}

@*<h4>@Html.DisplayFor(model => model.Especialidade.NomeEspecialidade)</h4>*@
<a href="javascript: history.go(-1)" class="btn bg-warning text-dark">Voltar</a>
<hr />
<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="col">
                @*<img class="img-fluid" src="@Html.DisplayFor(model => model.FotoPerfil)" style="max-width:300px; min-height:500px;" alt="Foto Perfil Restaurante">*@
                <div>
                    <img class="img-fluid rounded" width="100%" id="ImageUrlPreview" />
                </div>
            </div>
            <div class="d-flex gap-2">
                @foreach (var foto in Model.Fotos)
            {

                    <img onclick="LoadImg(src)" id="ImageURL" class="img-fluid rounded mt-2 mr-5" src="@Html.DisplayFor(modelItem => foto.FotosRestaurante)" alt="Fotos do Restaurante" style="max-width:100px; min-height:100px;">
            }
            </div>
        </div>
        <div class="col-6">

            <div class="row">
                <h3 class="text-warning">
                    @Html.DisplayFor(model => model.Nome)
                </h3>
                <h5>
                    @Html.DisplayFor(model => model.DescricaoRestaurante)
                </h5>
            </div>
            <div class="row">
                <p class="text-warning">
                    @Html.DisplayFor(model => model.Endereco)
                </p>
                @if (Model.Avaliacoes.Count > 0)
                {
                    double mediaAvaliacoes = Model.Avaliacoes.Average(a => a.Estrela);
                    int quantidadeEstrelas = (int)Math.Round(mediaAvaliacoes);

                    <div class="row">
                        <p>
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < quantidadeEstrelas)
                                {
                                    <i class="bi bi-star-fill text-warning"></i>
                                }
                                else
                                {
                                    <i class="bi bi-star text-warning"></i>
                                }
                            }
                        </p>
                    </div>
                }
                else
                {
                    <p>Ainda não há avaliações.</p>
                }
                <p>
                    <span class="material-symbols-outlined text-warning fs-1 align-content-center">
                        accessible
                    </span>
                    <span class="material-symbols-outlined text-warning fs-1 justify-content-center">
                        child_care
                    </span>

                </p>
                <div class="row text-center">
                    <div class="col justify-content-center">
                        @*<a class="btn btn-success" asp-controller="Produtos" asp-action="Index">Cardápio</a>*@
                        @*<a asp-controller="Produtos" asp-action="Create" class="btn btn-outline-info">Cardápio</a>*@
                    </div>
                    <div class="col justify-content-center">
                        <a asp-controller="Restaurantes" asp-action="Agenda" asp-route-id="@Model.RestauranteId" class="btn bg-warning text-dark">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{  
    <script>
        window.onload = function LoadImg() {
            document.getElementById("ImageURL").click();
        }
        var newImg = getElementById("ImageURL");
        function LoadImg(newImg) {
            $("#ImageUrlPreview").empty();
            document.getElementById('ImageUrlPreview').src = newImg;
        }
    </script>
    @if (ViewData["Avaliacoes"] != null)
    {
        var avaliacoes = ViewData["Avaliacoes"] as List<Avaliacao>;
        if (avaliacoes.Count > 0)
        {
            <h4>Avaliações dos clientes</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Estrelas</th>
                        <th>Comentário</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var avaliacao in avaliacoes)
                    {
                        <tr>
                            <td>@avaliacao.ClienteId</td>
                            <td>@avaliacao.Estrela</td>
                            <td>@avaliacao.Comentario</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}

