@model IEnumerable<Mesa>
@{
    ViewData["Title"] = "List of Mesas";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Restaurante.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.QuantidadeMesa)</th>
                    <th>@Html.DisplayNameFor(model => model.TamanhoMesa)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Restaurante.RestauranteId)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.QuantidadeMesa)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.TamanhoMesa)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></a> |
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i></a> |
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>