@model fork_finder.Models.Avaliacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Avaliacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estrela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estrela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestauranteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestauranteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
