@model Cliente

@{
    ViewData["Title"] = "Reserved";
}

<h1>Reservas2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model.Reservas) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.MesaId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
