@model Especialidade

@{
    ViewData["Title"] = "Look";
}

<div>
    <div class="row">
        <div class="col-4 justify-content-start">
            <a class="btn btn-warning" asp-controller="Especialidades" asp-action="Index">Voltar</a>
        </div>
        <div class="col-4 ms-auto">
            <h6>Restaurantes por Especialidade</h6>
        </div>        
    </div>
    <hr />
    <div>
        @*@if (User.IsInRole("Admin, Restaurante"))
        {
            <a class="btn btn-primary align-items-end" asp-action="Edit" asp-route-id="@Model">Editar</a>
        }*@
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-start">

            @foreach (var restaurantes in Model.Especialidades_Restaurantes)
            {
                <div class="col-4 m-0">
                    <a asp-controller="Restaurantes" asp-action="Restaurante" asp-route-id="@restaurantes.RestauranteId">
                        <div class="row align-items-center justify-content-start py-3">
                            <div class="col-3">
                                <div>
                                    @if (restaurantes.Restaurante.FotoPerfil != null)
                                    {
                                        var base64String = Convert.ToBase64String(restaurantes.Restaurante.FotoPerfil);
                                        var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64String);
                                        <img class="rounded-circle" src="@imgSrc" style="max-width:100px; min-height:100px;" />
                                    }
                                    else
                                    {
                                        <span>Nenhuma imagem disponível</span>
                                    }
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row align-items-center m-0">
                                    <div class="col text-decoration-none">
                                        <div class="row m-0">
                                            <p class="px-2 m-0">@Html.DisplayFor(modelItem => restaurantes.Restaurante.Nome)</p>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-7 p-1">
                                                @if (restaurantes.Restaurante.Avaliacoes.Count > 0)
                                                {
                                                    double mediaAvaliacoes = restaurantes.Restaurante.Avaliacoes.Average(a => a.Estrela);
                                                    int quantidadeEstrelas = (int)Math.Round(mediaAvaliacoes);

                                                    <div class="row">
                                                        <p>
                                                            @for (int i = 0; i < 5; i++)
                                                            {
                                                                if (i < quantidadeEstrelas)
                                                                {
                                                                    <i class="bi bi-star-fill text-warning"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="bi bi-star text-warning"></i>
                                                                }
                                                            }
                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p class="p-0 m-1 text-warning">Sem avaliações</p>                                                    
                                                }
                                            </div>
                                            <div class="col-5">
                                                <li class="py-2 m-0">@Html.DisplayFor(modelItem => restaurantes.Especialidade.NomeEspecialidade)</li>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <p class="px-2 m-0">
                                                @Html.DisplayFor(modelItem => restaurantes.Restaurante.Endereco.Cidade),
                                            @Html.DisplayFor(modelItem => restaurantes.Restaurante.Endereco.Bairro), 
                                            @Html.DisplayFor(modelItem => restaurantes.Restaurante.Endereco.Numero)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }


        </div>
    </div>
</div>