@model IEnumerable<fork_finder.Models.ProdutoCategoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Home" asp-action="Index" class="mx-2 btn bg-warning text-dark">Voltar</a>
<div class="d-flex my-2">
    <a asp-action="Create" class="mx-2 btn btn-outline-info">Adicionar novo categoria para produtos</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoCategoriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoCategoriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoCategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
